@model IEnumerable<GrouponJobsMVC.Models.Disposition>
@{
    ViewBag.Title = "Index Disposition";
}
<h2>
    Index Disposition</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DispositionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DispositionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DispositionId })
            </td>
        </tr>
    }
</table>
